<ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic Blank
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
        <div id="buttons">
  
            <svg id="AB-L1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 269.53 300.65">
              <title>entry-buttons</title>
              <g>
                <g (click)="pushToSignPage()">
                  <circle cx="64.89" cy="172.24" r="64.89" fill="#fff" opacity="0.3"/>
                  <circle cx="64.89" cy="172.24" r="58.19" fill="#fff"/>
                  <text transform="translate(39.33 176.01)" font-size="12" fill="#707070" font-family="Comfortaa">SIGN UP</text>
                </g>
                <g (click)="pushToLoginPage()">
                  <circle cx="204.64" cy="235.76" r="64.89" fill="#fff" opacity="0.3"/>
                  <circle cx="204.64" cy="235.76" r="58.19" fill="#fff"/>
                  <text transform="translate(182.71 239.53)" font-size="12" fill="#707070" font-family="Comfortaa">L<tspan x="6.9" y="0">O</tspan><tspan x="17.86" y="0">G IN</tspan></text>
                </g>
              </g>
            </svg>
            
    
      
        </div>
      
      <ion-button (click)='goToRunPage()'>Run Page</ion-button>
    </div>
  </ion-content>
  