<!-- <ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic Blank
      </ion-title>
    </ion-toolbar>
  </ion-header>
   -->
  <ion-content>

      <div class="wrap-login">
          <div class="center-login">
              <img class="logo" src="assets/images/soundtraveller.png"><br>

              <ion-button color="dark" class="log-reg-btn"  (click)='pushToLoginPage()'>Login</ion-button>
              <ion-button color="dark" class="log-reg-btn"  (click)='pushToSignPage()'>Signup</ion-button>
          </div>
      </div>

  </ion-content>
  