<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button>
            
          </ion-back-button>
        </ion-buttons>
        <ion-title>start run</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
     <!-- <ion-button (click)='startRun()' expand="block" shape="round" routerLink="volume">GO</ion-button> -->
     

  

<div >
<h1>{{time}}</h1> 
<ion-button (click)='startTimer()'>Start Timer</ion-button>
<ion-button (click)='pauseTimer()'>Pause</ion-button>
<ion-button (click)='resetTimer()'>Reset</ion-button>

</div>



  </ion-content>
