<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Sign In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="login-form">
    <div class="padding-left">
        <img class="logo" src="../../assets/images/soundtraveller.png"><br>
        <h3><b>Welcome back</b></h3>
    </div>

    <form [formGroup]="registrationForm" (ngSubmit)="onSignIn()">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input maxLength="50" type="text" formControlName="email" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input maxLength="50" type="password" formControlName="password"></ion-input>
        </ion-item>

        <div class="submit-block">
            <ion-button color="dark" class="log-reg-btn"type="submit" [disabled]="!registrationForm.valid">submit</ion-button>
        </div>

        <!-- <button  class="fixed-button" type="submit" [disabled]="!registrationForm.valid" >
          submit
        </button>   -->

        <div id="resetpassword-block">
          <a id="resetpassword" (click)="pushToResetPassword()">Forgot my password</a>
        </div>

       

    </form>
</div>

        
        
        
        <!-- <div id="resetpassword-block">
          <a id="resetpassword" (click)="pushToResetPassword()">Forgot my password</a>
        </div> -->
        
    <!-- </div>   -->

</ion-content>
