<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="wrapper">

    <h3><b>Running keypoints</b></h3>
    <hr>
    <p class="quote">
        Download sound vfx and <br> connect them to keypoints during your run <br>
      </p>

    <ion-list>
        <ion-item>
            <ion-label>
              <img src="assets/keypoints/men-back.svg" width='25%' alt="">
            </ion-label>
            <ion-toggle (ionChange)="showBackBlock()"></ion-toggle>
          </ion-item>
        <div class="sounds-block" *ngIf="backBlock" >
            <ion-list>
                <ion-list-header>
                  SOUNDS
                </ion-list-header>
  
                <ion-item-sliding>
                  <ion-item>
                    <ion-label>{{sound}}</ion-label>
                    <ion-button (click)="onConnectSound()">connect</ion-button>
  
                    <ion-button (click)="onDownloadSound()">download</ion-button>
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
          </div> 

        <ion-item>
          <ion-label>
            <img src="assets/keypoints/vended-knee.svg" width='25%' alt="">
          </ion-label>
          <ion-toggle (ionChange)="showKneeBlock()"></ion-toggle>
        </ion-item>
        
        <div class="sounds-block" *ngIf="kneeBlock" >
            <ion-list>
                <ion-list-header>
                  SOUNDS
                </ion-list-header>
  
                <ion-item-sliding>
                  <ion-item>
                    <ion-label>{{sound}}</ion-label>
                    <ion-button (click)="onConnectSound()">connect</ion-button>
  
                    <ion-button (click)="onDownloadSound()">download</ion-button>
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
          </div>

        <ion-item>
            <ion-label>
              <img src="assets/keypoints/walking-tiptoed.svg" width='25%' alt="">
            </ion-label>
            <ion-toggle (ionChange)="showTiptoedBlock()"></ion-toggle>
          </ion-item>

        <div class="sounds-block" *ngIf="tiptoedBlock" >
          <ion-list>
              <ion-list-header>
                SOUNDS
              </ion-list-header>

              <ion-item-sliding>
                <ion-item>
                  <ion-label>{{sound}}</ion-label>
                  <ion-button (click)="onConnectSound()">connect</ion-button>

                  <ion-button (click)="onDownloadSound()">download</ion-button>
                </ion-item>
              </ion-item-sliding>
            </ion-list>
        </div>

      </ion-list>

      </div>

</ion-content>
