<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Sign Up</ion-title>
      </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="signup-form"> 
      <div class="padding-left">
          <img class="logo" src="../../assets/images/soundtraveller.png"><br>
          <h3><b>Welcome</b></h3>
          <p class="quote">Create an account to use the app.</p>
      </div>

      <form [formGroup]="registrationForm" (ngSubmit)="onSignUp()">
          <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input maxLength="50" type="text" formControlName="email" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input maxLength="50" type="password" formControlName="password"></ion-input>
          </ion-item>

          <div class="submit-block">
              <ion-button color="dark" class="log-reg-btn"type="submit" [disabled]="!registrationForm.valid">submit</ion-button>
          </div>

          <!-- <div class="padding-left">
              <ion-button class="signup-btn" type="submit" color="dark" expand="block" [disabled]="!registrationForm.valid">Signup</ion-button>
          </div> -->

      </form>

  </div>
          
    
  
  </ion-content>
  