#walk {
    font-size: 64px;
  }

  .start-btn {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 80px;
  }
  
  .wrap-div {
    position:absolute;
    bottom:0;
    width: 100%;
  }
  
  ion-list {
    margin-bottom: 10px;
  }
  