.wrapper{
  padding: 5%;
  
}

.quote{
  color: darkgray;
}

.options{
  margin-top: 50px;
}

.fixed-button {
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  height:100px;
  background-color: rgb(141, 180, 141);
  color: white;
  font-size: 16px;
}

#runningmen{
  display: block;
  margin: auto;
}

.timer {
  text-align: center;
}
.buttons{
  margin-top:25px;
  text-align: center;
  ion-button{
    width: 30%;
    display:inline-block;
  }

}
h1{
  display: inline;
  font-size: 50px;
}

.run-settings{
  margin-top:50px;
  text-align: center;
}

.run-block{
   
    text-align: center;
}