.wrapper{
    padding: 5%;
    
}

.quote{
    color: darkgray;
}
.img-block{
    margin-top: 20px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}