<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Wat leuk dat je mee doet met het onderzoek.</h3> 
    <h5>Vul je profiel gegevens in en start met het hardlopen.</h5>

    <ion-tabs>
        <ion-tab-bar slot="bottom">

          <ion-tab-button tab="profile">
            <ion-icon name="person"></ion-icon>
            <ion-label>Profile</ion-label>
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>
      
          <ion-tab-button tab="run">
            <ion-icon name="walk"></ion-icon>
            <ion-label>Run</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="data">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>Data</ion-label>
          </ion-tab-button>
      
        </ion-tab-bar>
      </ion-tabs>

    
    <!-- <ion-button (click)='goToRunPage()'>Run Page</ion-button> -->

</ion-content>
