

    .wrapper{
        padding: 5%;
        
    }
    
    .quote{
        color: darkgray;
    }

    .form-block{
        margin-top: 50px;
    }
    .form-names{

        ion-label{
            font-size: 17px;
                color: #999;
        }
        ion-input{
            font-size: 17px;
        }
    }



    .form-checkbox{

        padding-top:40px;
        // padding-bottom:40px;

        ion-label{
            font-size: 17px;
            color: #999;
        }
        
        
         
    }

 
  
    .run-block{
        margin-top: 50px;
        text-align: center;
    }