<!-- <ion-header no-border>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content padding>

    <div class="wrapper">

        <h3><b>Please fill in the form</b></h3>
        <hr>
        <p class="quote">
          At least fill in the <b>*</b> required fields <br>
          before submitting.
        </p>        
     
    <div class="form-block">
    <form [formGroup]="profileInfoForm" (ngSubmit)="onSaveProfileInfo()" >
  
      <div class="form-names">
          <ion-item>
            <ion-label floating required>Name </ion-label>
            <ion-input maxLength="50" type="text" formControlName="name" [value]="profileInfoObject.name" ></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label floating>Gender <b>*</b></ion-label>
            <ion-input maxLength="50" type="text" formControlName="gender" [value]="profileInfoObject.gender"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Length <b>*</b></ion-label>
              <ion-input maxLength="50" type="text" formControlName="length" [value]="profileInfoObject.length"  ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Weight <b>*</b></ion-label>
            <ion-input maxLength="50" type="text" formControlName="weight" [value]="profileInfoObject.weight"  ></ion-input>
        </ion-item>
      </div>  
         

          
        
        
        
        
        <!-- //checkboxes -->
        <div class="form-checkbox">
        
           <ion-label>Did you ever had injuries ?</ion-label>
            <ion-item>
              <ion-checkbox  checked="{{guestInfoObject.accomodationSaturday}}"  formControlName="accomodationSaturday"></ion-checkbox>
            </ion-item>
        </div>
        <!-- end checkboxes -->
        
        <!-- //button -->
          <!-- <button  class="fixed-button" type="submit"   >
            submit -->
            <div class="run-block">
            <ion-button color="dark" class="log-reg-btn" type="submit" [disabled]="!guestInfoForm.valid">save</ion-button>
            </div>
          <!-- </button>     -->

          
        
              
        </form>
      </div>
    </div>
        
    <!-- <div class="spacer"></div> -->
    
        

</ion-content>
