<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="profileInfoForm" (ngSubmit)="onSaveProfileInfo()" >
  

          <ion-item>
            <ion-label floating required>Name <b>*</b></ion-label>
            <ion-input maxLength="50" type="text" formControlName="name" [value]="profileInfoObject.name" ></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label floating>Gender</ion-label>
            <ion-input maxLength="50" type="text" formControlName="gender" [value]="profileInfoObject.gender"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Length</ion-label>
              <ion-input maxLength="50" type="text" formControlName="length" [value]="profileInfoObject.length"  ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Weight</ion-label>
            <ion-input maxLength="50" type="text" formControlName="weight" [value]="profileInfoObject.weight"  ></ion-input>
        </ion-item>

         
       
        
        
      
            <p class="date-title">Birthday <b>*</b></p>
            <ion-item>
              <ion-datetime [(ngModel)]="profileInfoObject.birthday" displayFormat="DD/MMMM/YYYY" pickerFormat="DD/MMMM/YYYY" formControlName="birthday"></ion-datetime>
            </ion-item>
      
          
        
        
        
        
        <!-- //checkboxes -->
        <!-- <div class="form-checkbox"> -->
        
           <!-- <ion-label>Would you like accomodation on <br> Saturday evening?</ion-label>
            <ion-item>
              <ion-checkbox  checked="{{guestInfoObject.accomodationSaturday}}"  formControlName="accomodationSaturday"></ion-checkbox>
            </ion-item>
        
            <ion-label>Attending lunch on Saturday?</ion-label>
            <ion-item>
                <ion-checkbox   checked="{{guestInfoObject.lunchSaturday}}" formControlName="lunchSaturday"></ion-checkbox>
            </ion-item>
        
            <ion-label>Attending church on Saturday?</ion-label>
            <ion-item>
                <ion-checkbox   checked="{{guestInfoObject.churchSaturday}}" formControlName="churchSaturday"></ion-checkbox>
            </ion-item>
        
            <ion-label>Attending dinner & party Saturday?</ion-label>
            <ion-item>
                <ion-checkbox   checked="{{guestInfoObject.dinnerPartySaturday}}" formControlName="dinnerPartySaturday"></ion-checkbox>
            </ion-item>
        
            <ion-label>Attending lunch on Sunday?</ion-label>
             <ion-item>
                <ion-checkbox   checked="{{guestInfoObject.lunchSunday}}" formControlName="lunchSunday"></ion-checkbox>
            </ion-item>
        </div> -->
        
        <!-- end checkboxes -->
        
        <!-- //button -->
          <button  class="fixed-button" type="submit" [disabled]="!guestInfoForm.valid"  >
            submit
            <!-- <ion-icon name="arrow-round-forward"></ion-icon> -->
          </button>    
        
              
        </form>
        
        

</ion-content>
